.about-container{
    min-height: 300px;
    background-color: #FCFCFC;
    /*text-align: left;*/
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: justify;
    font-family: 'SourceSansPro Light';
    overflow: auto;
    /*text-indent:32px;*/
  }
  p{
    text-indent:32px;
    font-family: 'SourceSansPro Light';
    font-size: 20px;
  }
  li{
    font-family: 'SourceSansPro Light';
  }

.title{
    /*height: 30px;*/
    font-size: 25px;
    color: #fff;
    font-family: 'SourceSansPro Semibold';
    font-weight: bold;
    text-align:center;
    background-color: #AAAAAA;
    /*border-style: groove*/;
    padding-top: 10px;
    padding-bottom: 10px;
  }

.contentTitle{
    font-family: 'SourceSansPro Semibold';
    font-size: 20px;
}