html {
    overflow-y: scroll;
    overflow-x: auto;
    min-width: 1200px;
    min-height: 100%;
}
body {
    background: linear-gradient(to bottom, #B2DFEE, white);
    
    /*font-family:'Microsoft YaHei';*/
    font-size: 20px;

}

#app {
    /*font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans","Bitstream Vera Sans","Liberation Sans",Verdana,"Verdana Ref",sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.main{
	margin: 0px auto 0;
}
.top-info{
		background: #ffffff;
		padding: 26px 20px;
}
.top-info:after {
	content: '';
	display: block;
	clear: both;
}
.site-info {
	width: 66.67%;
	float: left;
}
#conference-logo {
	float: left;
	margin-right: 15px;
}
#site-name, #site-description {
	/*font-family: "Oswald",Arial,sans-serif;*/
	clear: none;
    font-weight: 200;
    padding-top: 2px;
    text-align: left;
    line-height: 1.42857143;
}
.logos {
	width: 33.33%;
	float: left;
}
.comsoc-logo {
    width: 129px;
    height: 45px;
    image-rendering: -webkit-optimize-contrast;
    margin-top: 15px;
    margin-right: 28px;
}
.ieee-logo {
    width: 125px;
    height: 36px;
    image-rendering: -webkit-optimize-contrast;
    margin: 8px 0 1px 0;
}
.navbar {
	clear: both;
}
.main-container {
	min-height: 300px;
	background-color: #f1f1f2;
    font-family: "Microsoft YaHei";
    /*font-weight: lighter;*/
    line-height:1.5;
    width: 100%;
}

.mypage{
    
}
footer {
    margin: 0 auto;
    padding: 16px;
    border: none;
    color: #fff;
    background: #2c3e50;
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans","Bitstream Vera Sans","Liberation Sans",Verdana,"Verdana Ref",sans-serif;
    font-size: 12px;
}
footer a{
	color: #fff;
}
@media screen and (min-width: 768px){
	.main {
	    width: 90%;
    }
}

@media screen and (min-width: 992px){
	.main {
	    width: 90%;
    }
}

@media screen and (min-width: 1200px){
	.main {
	    width: 90%;
    }
}